
.idea/.name

.idea/compiler.xml

*.xml

*.db

.clover/coverage.db8goo2w_ilw9fely

*.class

out/production/cw-temple/images/wall.png

out/production/cw-temple/images/coins.png

out/production/cw-temple/images/coin.gif

out/production/cw-temple/images/entrance.png

out/production/cw-temple/images/explorer_sprites.png

out/production/cw-temple/images/info_texture.png

out/production/cw-temple/images/notes.txt

out/production/cw-temple/images/orb.png

out/production/cw-temple/images/path.png

*.db8goo2w_ilw9m0ph

*.db6kadhe_ilw9saeq

*.db8goo2w_ilw9r632

*.db8goo2w_ilw9saek
